@model gh_copilot_cost_calculator.Models.CalculationModel

<!DOCTYPE html>
<html>
<head>
    <title>Calculation Result</title>
</head>
<body>
    <h1>Calculation Result</h1>
    <p>Total Cost: @Model.TotalCost</p>
    <p>Boosted Productivity: @Model.BoostedProductivity</p>
    <a href="/">Back</a>
</body>
</html>