body {
    background-color: black;
    color: white;
    padding-top: 20px;
    /* Add padding to the top */
}

.form-group {
    margin-bottom: 10px;
    /* Reduce the bottom margin */
}

.form-label-bold {
    font-weight: bold;
    font-size: 1.25rem;
}

.header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    /* Center align the title */
}

.form-control,
.input-group-text {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.form-text {
    color: white;
}